{% extends "admin/base_site.html" %}
{% load www_filters %}
{% load staticfiles %}
{% load humanize %}
{% block extrastyle %}{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/companyReports.js" %}"></script>
<script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
<style type="text/css">
#ActivityGlobalContainer {
            clear: both;
            padding-right: 205px;
            width: 981px;
            margin: 0 auto;
            position: relative;
            zoom: 1;
            line-height: 1.28;
            text-align: left;
            direction: ltr;
            height: 100%;
        }
        #content {
            min-height: 100px;
            margin: 0;
            outline: none;
            padding: 0;
            width: auto;
            height: auto;
        }
        #activity_right_col{
            margin-right: -5px;
            width: 122px;
            margin-top: 0px;
            float: right;
            padding-right: 0px;
            word-wrap: break-word;
            height: auto;
        }
        #activity_content_area{
            position: relative;
            width: 236px !important;
            float: left;
            margin-right: 0px;
            height: auto;
        }
        #activity_selection{
            margin: auto;
            width: 150px;
            z-index: 2;
            float: left;
            /*position: fixed !important;*/
            display: block;
            height: auto;
            /*background-color: #BCD2EE;*/
        }
        #activity_selections{
            width: 161px;
            height: 375px;
            direction: ltr;
            overflow: hidden;
            position: relative;
            margin-right: 5px;
            margin-top: 10px;
            display: block;
            font-size: 11px;
            height: auto;
        }
        #activity_ul{
            font-size: 14px;
            line-height: 1.28;
        }
        .activity_item{
            margin-bottom: 15px;
            padding-right: 20px;
            margin-left: -10px;
            width: 100%;
            display: list-item;
            color: #333;
            height: 100%;
            list-style: none;
        }
        #activities_area{
            min-height: 682px;
            width: 687px;
            display: block;
            padding-left: 250px;
            margin-top: 10px;
            /*padding-left: 35px;*/
        }
     /*   #all{
            margin-bottom: 100px;
            padding-right: 20px;
            margin-left: -10px;
            display: none;
            float:right;
        }*/

            li.activity_item:hover {
                cursor: pointer;
            background-color: #c9dbf1 !important;
        }
</style>
<script type="text/javascript">
    var csrftoken = getCookie('csrftoken');
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}
{% block content%}
<title>Company Reports </title>
<div id="report_nav_bar">
    <div id="ActivityGlobalContainer">
        <div id="activity_content">
            <div id="activity_content_column">

                <div id="activity_right_col">
              
                </div>
                <div id="activity_content_area">
                    
                    <div id="activity_selection">
                        <div style="font-family: tahoma,verdana; font-size:25px; line-height:1.5; border-bottom:thin;"></div>
                        <div id="activity_selections">
                            
                            <div>
                            <ul id="activity_ul" style="list-style:none">
                                <li id="abd" class="activity_item" value="all" onClick="show_years({% now "Y" %})">Year<span>  
                                </span> </li>
                                <li id="navmonths"class="activity_item" value="all" onClick="show_months()">Month<span>  
                                </span> </li>
                            </ul>
                            </div>

                            <div id="nav_months" style="display:none;">
                            <ul id="activity_ul" style="list-style:none; padding-left:10px;">
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly({% now "Y" %});">January<span>  
                                </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputMonthly('February';)">February<span>  
                                </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(March)">March<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(April)">April<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(May)">May<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(June)">June<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(July)">July<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(August)">August<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(September)">September<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(October)">October<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(November)">November<span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="getOutputYearly(December)">December<span> </span> </li>
                            </ul>
                            </div>
                         <div id="nav_years" style="display:none;">
                            <ul id="listyear" style="padding-left:10px;">
                                <li id='0'class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="1"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="2"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="3"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                                <li id="all_li"class="activity_item" value="all" onClick="activity_all()"><span> </span> </li>
                            </ul>
                            </div>
                        </div>

                           
                        </div>

                    </div>
                    <div id="activities_area">
                         <div><p id="reportcontent">hey</p>The detailed output per month is below:<br><ul id="records_list"></ul></div>
                         <div style="width: 50%;padding-top: 25px;" id="barcontainer"></div>

                    </div>
                </div>

            </div>

        </div>  
                
    </div>
    </div> 
        

<center>
<div id="report_types_button_div">
    <div class = "yearly_reports" style = "margin-top: 20px">
    
        <button onClick="getSalaryYearly({% now "Y" %});" style = "width:350px; height:100px; font-size:20px !important;">Salary Report</button>
    
        <button onClick="getAttendanceYearly();" style = "width:350px; height:100px; font-size:20px !important;" onClick>Attendance Report</button>
    
        <button onClick="getOutputYearly({% now "Y" %});"  style = "width:350px; height:100px; font-size:20px !important;">Productivity Report</button>
    </div>

    <div class = "monthly_report" style = "margin-top: 20px">

        <button onClick ="getAttendanceMonthly(2013,1);"  style = "width:350px; height:100px; font-size:20px !important;">Attendance Reportx</button>
    
        <button onClick ="getOutputMonthly(2013,1);"  style = "width:350px; height:100px; font-size:20px !important;">Productivity Report</button>
    </div>
</div>

<div class = "report" style = "visibility:hidden;" >
    {% for dict in Dict %}
        
    {% endfor %}

</div>


</center>
<script>
// function getSalaryYearly(year){
//     // console.log(year);
//     $.ajax({
//     url: "/getSalary",
//     type: 'GET',
//     data: {
//         "year" : year,
//     }, 
//     success: function(req) {
//         console.log(req);
//         $('#testajax').replaceWith($(req).find('#testajax'));
  
// }
// });

$('#report_nav_bar').hide();

function show_months(){
    $('#nav_months').show();
    $('#abd').hide();
}
function show_years(year){
    year = parseInt(year);
    for(var i=0; i < 5; i++){
        io = parseInt(i);
        // console.log(i);
        var t = year-io
        // $("<li/>").appendTo("#listyear").html(year-io);
        document.getElementById(i).innerHTML = year-io;
        $('#navmonths').hide();
        $('#nav_years').show();
    }
}



function getOutputYearly(year){

var array_of_values = [];
var array_of_keys = new Array(); 
$.ajax({
   url: '/view_output_yearly/',
   dataType: 'json',
    method : 'GET',
   data: {
    "year" : year,
   },

   success: function (data) { 
    array1 = []
    array2 = []
      $('#report_types_button_div').hide();
      $('#report_nav_bar').show();
          document.getElementById('reportcontent').innerHTML = 'The Total units produced year: ' + year +   ' is '+ data[0] + ' units  <br> The average output per employee is: ' + data[2] + ' units <br>' ;
      for(var i = 0; i<data[0].length; i++){ 
        var t = Object.keys(data[0][i]);
          array1.push(t[0]);
      }
      for(var i = 0; i<array1.length; i++){
        var x = array1[i];
        // console.log(i);
        // console.log(x);
        var t = data[0][i][x];
        // console.log(t);
        array2.push(data[0][i][x]);
        }
        for(var i = 0; i < array1.length; i++){
        // console.log(array1[i]);
        $("#records_list").append('<li>The number of units produced in '+array1[i]+'    is: </li>'+array2[i]);
    }
var array_of_keys = []
var array_of_values = []
var dataArrayFinal = Array();

$.ajax({
   url: '/getOutputYearly/',
   dataType: 'json',
      data: {
    "year" : year,
   },
   success: function (data) {
      data = data[0]
      for(var i = 0; i<data.length; i++){
        array_of_keys.push(Object.keys(data[i]));
      }
      for(var i = 0; i<array_of_keys.length; i++){
        var x = array_of_keys[i].toString();
        array_of_values.push(parseInt(data[i][x]));
      }
      for(j=0;j<array_of_keys.length;j++) { 
   var temp = new Array(array_of_keys[j],array_of_values[j]); 
   dataArrayFinal[j] = temp;     
}
console.log(array_of_keys);


$('#barcontainer').highcharts({
        chart: {
            type: 'column'
        },

        xAxis: {
            categories: array_of_keys
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        //console.log(array_of_values);
        series: [{
            name: 'EMployee Graph',
            data: array_of_values
        }]
    });
// var chart = document.getElementById('barcontainer').innerHTML;
// chart.renderTo('#subbar');
// document.getElementById('subbar').innerHTML = chart;

}

});
}

});
}


// function getOutputMonthly(month){
// var array_of_values = [];
// var array_of_keys = new Array(); 

// console.log(month);
//     // console.log(data);
// $.ajax({
//    url: '/view_output_monthly/',
//    dataType: 'json',
//    data: {
//     "month" : "1",
//     "year" : month,
//    },
//    success: function (data) { 
//     console.log(data[0]);
//     array1 = []
//     array2 = []
//       $('#report_types_button_div').hide();
//       $('#report_nav_bar').show();
//           document.getElementById('reportcontent').innerHTML = 'The Total units produced year: ' + month +   ' is '+ data[1] + ' units  <br> The average output per employee is: ' + data[2] + ' units <br>' ;
//       for(var i = 0; i<data[0].length; i++){
        
//         var t = Object.keys(data[0][i]);
// // console.log(t[0]);
//           array1.push(t[0]);
//       }
//       for(var i = 0; i<array1.length; i++){
//         var x = array1[i];
//         var t = data[0][i][x];
//         array2.push(data[0][i][x]);
//         $("</li>").appendTo("#records_list").html("The number of units produced in "+x+' is: '+t);}
//         console.log(x);
//         console.log(t);

// var array_of_keys = []
// var array_of_values = []
// var dataArrayFinal = Array();

// $.ajax({
//    url: '/getOutputMonthly/',
//    dataType: 'json',
//       data: {
//     "year" : year,
//     "month" : month,
//    },
//    success: function (data) {
//       data = data[0]
//       for(var i = 0; i<data.length; i++){
//         array_of_keys.push(Object.keys(data[i]));
//       }
//       for(var i = 0; i<array_of_keys.length; i++){
//         var x = array_of_keys[i].toString();
//         array_of_values.push(parseInt(data[i][x]));
//       }
//       for(j=0;j<array_of_keys.length;j++) { 
//    var temp = new Array(array_of_keys[j],array_of_values[j]); 
//    dataArrayFinal[j] = temp;     
// }
// console.log("keys");


// $('#barcontainer').highcharts({
//         chart: {
//             type: 'column'
//         },

//         xAxis: {
//             categories: array_of_keys
//         },
//         yAxis: {
//             title: {
//                 text: ''
//             }
//         },
//         //console.log(array_of_values);
//         series: [{
//             name: 'EMployee Graph',
//             data: array_of_values
//         }]
//     });

// // var chart = document.getElementById('barcontainer').innerHTML;
// // chart.renderTo('#subbar');
// // document.getElementById('subbar').innerHTML = chart;

// }

// });

// }
// });
// }
</script>

{% endblock %}
