{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block extrastyle %}{{ block.super }}

<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}" ></script>

<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>

{% endblock %}

{% block content%}
	<h3>Choose report type: </h3>
	<select id="type">
		<option>------</option>
		<option>Working Hours</option>
		<option>Number of products produced</option>
		<option> number of products/hour</option>
		<option>Salary of the employee</option>
		<option>Attendance of the employee</option>
	</select>
	<br>
	<br>
	<h3 id = "h3_range" style="display: none">Choose report date range: </h3>
	<select id="range" style="display: none">
		<option>------</option>
		<option>By month</option>
		<option>By year</option>
	</select>
	<br>
		<span>
			<select id = "years_from" style="display: none">
				<option>------</option>
				{% for year in years %}
					<option value="{{year}}">{{year}}</option>
				{% endfor %}
			</select>
			<br>
			<select id="months_from" style="display: none">
				<option id="tmp">------</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
		</span>
		<br>
	{% if employees %}
		{% for employee in employees %}
			<span><h1>{{employee.name}}</h1><button value="{{employee.id}}" onClick="generateReport(this);">Generate</button></span>
		{% endfor %}
	{% endif %}
<script type="text/javascript">
	function generateReport(elem){
		var type = $("#type").val()
		var range = $("#range").val()
		var year = $("#years_from").val()
		var month = $("#months_from").val()
		if (range != '------' && type != '------' && year != '------') {
			if (type == 'Working Hours') {
				if (range == 'By month' && month != '------') {
					window.open("../../../hours_month?e_id="+elem.value+"&month="+month+"&year="+year)
				}
				else {
					window.open("../../../hours_year?e_id="+elem.value+"&year="+year)
				}

			}
			else {
				if (type == 'Number of products produced') {
					if (range == 'By month' && month != '------') {
						window.open("../../../products_month?e_id="+elem.value+"&month="+month+"&year="+year)
					}
					else {
						window.open("../../../products_year?e_id="+elem.value+"&year="+year)
					}
				}
				else {
					if (type == 'number of products/hour') {
						if (range == 'By month' && month != '------') {
							window.open("../../../productivity_month?e_id="+elem.value+"&month="+month+"&year="+year)
						}
						else {
							window.open("../../../productivity_year?e_id="+elem.value+"&year="+year)
						}
					}
					else {
						if (type == 'Salary of the employee') {
							if (range == 'By month' && month != '------') {
								window.open("../../../payement_month?e_id="+elem.value+"&month="+month+"&year="+year)
							}
							else {
								window.open("../../../payement_year?e_id="+elem.value+"&year="+year)
							}
						}
						else {
							if (range == 'By month' && month != '------') {
								window.open("../../../attendance_month?e_id="+elem.value+"&month="+month+"&year="+year)
							}
							else {
								window.open("../../../attendance_year?e_id="+elem.value+"&year="+year)
							}

						}
					}
				}
			}
		};
	}
	$(document).ready(function(){
		$('#type').change(function() {
			document.getElementById('range').selectedIndex = 0;
			document.getElementById('years_from').selectedIndex = 0;
			document.getElementById('months_from').selectedIndex = 0;
			$('#h3_range').css('display', 'block');
			$('#range').css('display', 'block');
			$('#range').change(function() {
				$('#h3_from').css('display', 'none');
				$('#years_from').css('display', 'none');
				$('#months_from').css('display', 'none');
				$('#days_from').css('display', 'none');
				document.getElementById('years_from').selectedIndex = 0;
				document.getElementById('months_from').selectedIndex = 0;
				var range = $("#range").val()
				if (range != '------' && $("#type").val() != '------') {
					if (range == 'By month') {
						$('#years_from').css('display', 'block');
						$('#months_from').css('display', 'block');
					}
					else {
						$('#years_from').css('display', 'block');
					}
				};
			});
		});		
	});
</script>
{% endblock %}