{% load staticfiles %}
<html>
<head>
  <title>Django admin system</title>

<script type="text/javascript" src="{% static "js/jquery.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
</head>
<body>
<div>{{content}}</div>
<div id="barcontainer" ></div>
<div id="areacontainer"></div>
<div id="linecontainer"></div>
<div id="piecontainer"></div>

<script type="text/javascript">
var array_of_keys = []
var array_of_values = []
var dataArrayFinal = Array();

$.ajax({
   url: 'test',
   dataType: 'json',
   success: function (data) {
      for(var i = 0; i<data.length; i++){
        array_of_keys.push(Object.keys(data[i]));
      }
      for(var i = 0; i<array_of_keys.length; i++){
        var x = array_of_keys[i].toString();
        array_of_values.push(parseInt(data[i][x]));
      }
      for(j=0;j<array_of_keys.length;j++) { 
   var temp = new Array(array_of_keys[j],array_of_values[j]); 
   dataArrayFinal[j] = temp;     
}
// alert(array_of_values);
$('#areacontainer').highcharts({
        chart: {
            type: 'areaspline'
        },

        xAxis: {
            categories: array_of_keys
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        series: [{
            name: 'EMployee Graph',
            data: array_of_values
        }]
    });
$('#barcontainer').highcharts({
        chart: {
            type: 'column'
        },

        xAxis: {
            categories: array_of_keys
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        //console.log(array_of_values);
        series: [{
            name: 'EMployee Graph',
            data: array_of_values
        }]
    });

$('#linecontainer').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Average fruit consumption during one week'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 150,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF'
            },
            xAxis: {
                categories: array_of_keys
            
            },
            yAxis: {
                title: {
                    text: 'Fruit units'
                }
            },
            
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5
                }
            },
            series: [{
                name: 'John',
                data: array_of_values
                        }]
        });
var chart;
    
      // Build the chart
        $('#piecontainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Browser market shares at a specific website, 2010'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: ' share',
                data: dataArrayFinal
            }]
        });
    
    





}

});
</script>
</body>
</html>



