<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->
<!-- Can be Deleted -->


{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block extrastyle %}
<!--   <link rel="stylesheet" type="text/css" href="{% static "djangocms_admin_style/css/djangocms-admin.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" /> -->

  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  {% load staticfiles %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
<link href="{% static "select2/select2.css" %}" rel="stylesheet" media="screen">
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "select2/select2.js" %}"></script>
{% endblock %}


{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    
    <style type="text/css" media="screen">
    input{
      width: auto;
      vertical-align: middle;
      margin: 2px 0;
      font-size: 13px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      color: #555555;
      padding: 6px 5px;
      outline: none;
      margin: 10px;
    }
    #result_list tr:first-child{
      background: #E0FFB8;
    }
    </style>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>{% trans 'Employee' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Item'%}</th>
                <th>{% trans 'Price'%}</th>
                <th>{% trans 'Size' %}</th>
                <th style="display:none;" class="reson_div"><strong>{% trans  'Add a Reason' %}</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <form action="/add_batch/" method="POST">{% csrf_token %}
                <td>
                  <select name="employee" id="emp_list">
                    {% for employee in employee_list %}
                    <option  value="{{employee.id}}">{{employee.name}} - {{employee.mobile}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input class="vDateField" id="dp1"  name="date" size="10" type="text"></td>
                <td>
                  <select name="identifier"  id="itm_list">
                    {% for item in item_list %}
                    <option value="{{item.id}}" data-price="{{item.value}}">{{item.identifier}} - {{item.description}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input class="vDateField" id="id_item_price" name="item_price" type="text" >
                 <a href="#"><i class="icon-pencil" id="edit_value" style="display:none;"></i></a> 
                </td>
                <td><input class="vDateField" id="id_item_size" name="size" type="text" ></td>
                  <td>                
                    <input style="display:none;" class="reson_div" class="vDateField" id="reason" name="reason" type="text">
                  </td>
                  <td>
                <ul class="object-tools" style="margin-top: 0px;">
                  <li>
                    <input type="submit" value="Add batch" class="addlink">
                </form>
                      

                  </li>
                 </ul>
                </td>
              </tr>
            </tbody>
          </table>
<br>
<br>
<br>

            <script>
    $(function(){
      $('#dp1').datepicker({
        format: 'yyyy-mm-dd'
      });
      $("#emp_list").select2();
      $("#itm_list").select2();
      $("#itm_list").on("change", function(e) {
        console.log($(e.added.element[0]).data("price"));
      $("#id_item_price").val($(e.added.element[0]).data("price"));
      $("#id_item_price").attr('disabled','disabled')
      $("#edit_value").fadeIn();
      });
      $("#edit_value").on("click", function() {
      $("#id_item_price").removeAttr('disabled');
      $(".reson_div").fadeIn();
      $(".reson_div").attr('required','true');
      });

    });

  </script>
    {% block object-tools %}

      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>

              <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
              </a>
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
  <div class="module" style="float:left;width: 98%">
    <style type="text/css" media="screen">
    input{
      width: auto;
      vertical-align: middle;
      margin: 2px 0;
      font-size: 13px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      color: #555555;
      padding: 6px 5px;
      outline: none;
    }
    </style>
            <a href="/add_batch/" class="addlink">{% trans 'Add batches' %}</a>
  </div>
{% endblock %}
